/* Weather */
.weather-container {
  background-color: rgba(51, 51, 51, 0.7);
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  padding-bottom: 0px;
}

.degree {
  color: #fff !important;
  font-size: 1.5rem !important;
}

.search-box {
  width: 100%;
  max-width: 300px;
  display: flex;
  align-items: center;
  border-bottom: solid 1px rgba(244, 244, 244, 0.4 );
}

.search {
  background-color: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  width: 100% !important;
  padding: 5px 0;
  font-size: 14px;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-content {
  margin-top: 1rem;
}

.climax {
  display: inline-block;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0.6rem 0px;
}

.temperature {
  font-size: 2rem;
  margin-bottom: 0.1rem;
}

.feeds {
  margin-top: 1.15rem;
}

.feed {
  padding: 5px;
  border-radius: 10px;
}

.icon {
  font-size: 1.5em;
  display: flex;
  align-items: flex-start;
  margin-right: 0.7rem;
}

.heading {
  font-weight: 400;

}

.search::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.4);
}

.search-btn {
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

.weather-image {
  max-width: 120px;
  margin: 0 auto
}

.btn-dark, .dark-bg {
  background-color: rgba(52, 58, 64, 0.7) !important;
}

@media (max-width: 540px) {
  .control {
    flex-direction: column;
  }

  .degrees {
    margin-top: 1rem;
  }
}